{% extends 'base.html.twig' %}

{% block title %}Hello FormCreateCmsElementController!{% endblock %}

{% block body %}
	{% verbatim %}

	<div class="container"
		  id="createCmsForm">
		<div class="form-wrapper m-5 py-5">
			<form @submit.prevent="sendData" id="cmsForm"
					enctype="multipart/form-data"
					class="form d-flex justify-content-center align-items-center flex-column">
				<div class="navigation d-flex align-items-center"
					  id="nav-tab"
					  role="tablist">
					<div class="nav-point active-nav-point bg-info">1</div>
					<div :class="{ 'bg-info active-nav-point': currentTab >= 2 }"
						  class="nav-point ">2</div>
					<div class="nav-point"
						  :class="{'bg-info active-nav-point':currentTab>=3}">3</div>
					<div class="nav-point"
						  :class="{'bg-info active-nav-point':currentTab >=4}">4</div>
				</div>

				<div class="tabs-container">
					<!-- {# Plugin Details #} -->
					<div class="tabs mt-5 "
						  v-show="currentTab === 1">
						<h2 class="headline-line mb-3">Plugin Details</h2>
						<div class="mb-3 row">
							<div class="col-8">
								<label class="form-label"
										 for="pluginTechnicalName">Plugin Technical Name </label> <span
										  id="pluginTechnicalNameLabel"></span>
								<input type="text"
										 name="pluginTechnicalName"
										 id="pluginTechnicalName"
										 placeholder="e.g. MkiImageText"
										 class="form-control"
										 v-model="cmsForm.stepOne.pluginTechnicalName"
										 aria-describedby="pluginTechnicalNameHelp"
										 @change="transformName('stepOne.pluginTechnicalName')">

								<div id="pluginTechnicalNameHelp"
									  class="form-text">Space is deleted, and the first letter after the space is replaced with a
									capital letter</div>


							</div>

							<div class="col-4">
								<label class="form-label"
										 for="version">Version</label>
								<input type="text"
										 name="version"
										 id="version"
										 placeholder="e.g. 1.0.0"
										 class="form-control"
										 :class="{'border-danger': hasError('version')}"
										 aria-describedby="versionHelper"
										 v-model="cmsForm.stepOne.version">
								<div id="versionHelper"
									  class="form-text">only number and poaint, deafult value 1.0.0 </div>
								<!-- <div id="versionHelperError"
									class="form-text">only number and poaint, deafult value 1.0.0 </div> -->
							</div>
						</div>


						<div class="mb-3 row">
						<div class="col-8">
							<label class="form-label"
									 for="pluginDescription">Plugin Description</label>
							<input type="text"
									 name="pluginDescription"
									 id="pluginDescription"
									 class="form-control"
									 aria-describedby="pluginDescriptionHelper"
									 v-model="cmsForm.stepOne.pluginDescription">
								<div id="pluginDescriptionHelper"
								  class="form-text">Wie wird den Plugin beschreiben in Admin </div>
								</div>
						<div class="col-4 d-flex justify-content-center align-items-center">
						<label class="form-check-label" for="isEnglishVersionActive">Enable English Version</label>

						<input type="checkbox"
						value="true"
						name="isEnglishVersionActive"
						id="isEnglishVersionActive"
						class="form-check-input"
						value="true"
						v-model="cmsForm.stepOne.isEnglishVersionActive">

							</div>

						</div>


						<div class="row mb-3">
							<div class="col-6">
								<label class="form-label"
										 for="pluginLabelDE">Plugin Label (DE)</label>
								<input type="text"
										 name="pluginLabelDE"
										 id="pluginLabelDE"
										 class="form-control"
										 aria-describedby="pluginLabelDEHelper"
										 v-model="cmsForm.stepOne.pluginLabelDE">
								<div id="pluginLabelDEHelper"
									  class="form-text">Wie wird den Plugin in deutsch bezeichnet </div>
							</div>
							<div class="col-6">
								<label class="form-label"
										 for="pluginLabelEN">Plugin Label (EN)</label>
								<input type="text"
										 name="pluginLabelEN"
										 :disabled="cmsForm.stepOne.isEnglishVersionActive==false"
										 id="pluginLabelEN"
										 class="form-control"
										 aria-describedby="pluginLabelDEHelper"
										 v-model="cmsForm.stepOne.pluginLabelEN">
								<div id="pluginLabelDEHelper"
									  class="form-text">Wie wird den Plugin in englisch bezeichnet </div>
							</div>
						</div>
					</div>

					<!-- {#  CMS Element  #} -->
					<div v-show="currentTab==2"
						  class="tabs mt-5 nav-point">
						<h2 class="headline-line mb-3">CMS Element Details</h2>

						<!-- {#    cms Element TechnicalName #} -->
						<div class="mb-3">
							<label class="form-label"
									 for="cmsElementTechnicalName">Technical Name</label>
							<input type="text"
									 name="cmsElementTechnicalName"
									 id="cmsElementTechnicalName"
									 class="form-control"
									 placeholder="e.g. mki-cms-element-name"
									 aria-describedby="cmsElementTechnicalNameHelper"
									 v-model="cmsForm.stepTwo.cmsElementTechnicalName"
									 @change="transformCmsName('stepTwo.cmsElementTechnicalName')">
							<div id="cmsElementTechnicalNameHelper"
								  class="form-text">Leerzeichen werden gelöscht, die GroßenBuchstaben werden mit strich ersetzt
								(-) </div>

						</div>
						<!-- {#   CMS Element label #} -->
						<div class="mb-3 row">

							<div class="col-6">

								<label class="form-label"
										 for="cmsElementLabelDE">Element Label (DE)</label>
								<input type="text"
										 name="cmsElementLabelDE"
										 id="cmsElementLabelDE"
										 class="form-control"
										 aria-describedby="cmsElementLabelDEHelper"
										 v-model="cmsForm.stepTwo.cmsElementLabelDE">

								<div id="cmsElementLabelDEHelper"
									  class="form-text">Wie wird den CMS_Element in deutsch bezeichnet </div>

							</div>

							<div class="col-6">

								<label class="form-label"
										 for="cmsElementLabelEN">Element Label (EN)</label>
								<input type="text"
										 name="cmsElementLabelEN"
										 :disabled="cmsForm.stepOne.isEnglishVersionActive==false"
										 id="cmsElementLabelEN"
										 class="form-control"
										 aria-describedby="cmsElementLabelENHelper"
										 v-model="cmsForm.stepTwo.cmsElementLabelEN">
								<div id="cmsElementLabelENHelper"
									  class="form-text">Wie wird den CMS_Element in Englisch bezeichnet </div>
							</div>

						</div>

						<!-- {#   CMS Element Image #} -->
						<div class="row mb-3">

							<div class="col-8">
								<label class="form-label"
										 for="cmsPreviewImage">CMS Preview Image</label>
								<input type="file"
										 name="cmsPreviewImage"
										 id="cmsPreviewImage"
										 class="form-control"
										 v-model="cmsForm.stepTwo.cmsPreviewImage">
							</div>

							<div class="col-4 d-flex justify-content-center align-items-center">
								<label class="form-check-label"
										 for="cmsDefaultPreviewImage">use default preview
									Image</label>
								<div class="form-check">
									<input type="checkbox"
											 value="true"
											 name="cmsDefaultPreviewImage"
											 id="cmsDefaultPreviewImage"
											 class="form-check-input"
											 v-model="cmsForm.stepTwo.cmsDefaultPreviewImage">
								</div>

							</div>
						</div>


						<div class="row mb-3">
							<div class="col-8">
								<label class="form-label"
										 for="cms-component-image"> Component Image</label>
								<input type="file"
										 name="cmsComponentImage"
										 id="cms-component-image"
										 class="form-control"
										 v-model="cmsForm.stepTwo.cmsComponentImage">
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center">
								<label class="form-check-label"
										 style="flex-basis:70%"
										 for="cmsDefaultComponentImage">use
									default component
									Image</label>

								<div class="form-check">
									<input type="checkbox"
											 value="true"
											 name="cmsDefaultComponentImage"
											 id="cmsDefaultComponentImage"
											 class="form-check-input float-right p-1"
											 v-model="cmsForm.stepTwo.cmsDefaultComponentImage">
								</div>
							</div>

						</div>


					</div>

					<!-- CMS Element Flieds -->
					<div v-show="currentTab==3"
						  class="tabs mt-5 mb-5">
						<h2 class="headline-line mb-3">CMS Fields</h2>

						<div class="row mb-3">
							<div class="col-3">
								<label for="fieldTechnicalName"
										 class="form-label">Field Technical Name</label>
								<input type="text"
										 name="fieldTechnicalName"
										 id="fieldTechnicalName"
										 class="form-control"
										 v-model="cmsForm.stepThree.fields.fieldTechnicalName"
										 @change="transformName('stepThree.fieldTechnicalName')">
							</div>
							<div class="col-3">
								<label for="fieldLabel"
										 class="form-label"> Field Label </label>
								<input type="text"
										 name="fieldLabel"
										 id="fieldLabel"
										 class="form-control"
										 v-model="cmsForm.stepThree.fields.fieldLabel">
							</div>

							<div class="col-3">
								<label for="fieldComponent"
										 class="form-label">Field-Component</label>
								<select name="fieldComponent"
										  class="form-select"
										  id="fieldComponent"
										  v-model="cmsForm.stepThree.fields.fieldComponent">
<!--								  <option selected disabled>Open this select menu</option>-->
									<option v-for="type in formOptions.stepThree.fieldComponents"
											  :value="type">{{type}}</option>
								</select>
							</div>


							<div class="col-2 d-flex justify-content-center align-items-center">
								<label class="form-check-label"
										 style="flex-basis:70%"
										 for="fieldRequired">Required
								</label>

								<div class="form-check">
									<input type="checkbox"
											 value="false"
											 name="fieldRequired"
											 id="fieldRequired"
											 class="form-check-input float-right p-1"
											 v-model="cmsForm.stepThree.fields.fieldRequired">
								</div>

							</div>

							<div class="col-1 d-flex justify-content-center align-items-center">
								<button type="button"
										  @click="addFields()"
										  class="btn btn-info"> + </button>
							</div>


						</div>

						<div class="row bg-info mb-5">
							<table class="table ">
								<thead>
								<tr>
									<th>Field Technical Name</th>
									<th>Field Label</th>
									<th>Field-Component</th>
									<th>Is Required?</th>
									<th>Remove</th>
								</tr>
								</thead>
								<tbody>


								<tr v-for="field in cmsForm.stepThree.fields">
									<td>{{field.fieldTechnicalName}}</td>
									<td>{{field.fieldLabel}}</td>
									<td>{{field.fieldComponent}}</td>
									<td>{{field.fieldRequired? 'ja':'nein' }}</td>
									<td class="d-flex justify-content-center align-items-center"> <button
												  @click="removeField(field.fieldId)"
												  type="button"
												  class="btn btn-outline-danger btn-sm"> X </button> </td>

								</tr>
								</tbody>
							</table>


						</div>

					</div>

					<!-- {#  CMS Blocks #} -->
					<div v-show="currentTab==4"
						  class="tabs mt-5">
						<h2 class="headline-line mb-3">CMS Blocks</h2>
						<!-- {#    cms Block TechnicalName #} -->
						<div class="mb-3 row">
												<div class="col-7">
													 <label class="form-label"
															 for="cmsBlocksTechnicalName">Technical Name</label>
													<input type="text"
															 name="cmsBlocksTechnicalName"
															 id="cmsBlocksTechnicalName"
															 class="form-control"
															 v-model="cmsForm.stepFour.cmsBlocksTechnicalName"
															 @change="transformCmsName('stepFour.cmsBlocksTechnicalName')">
												</div>
										 	<!-- {#    Blocks Category #} -->
											<div class="col-5">
												<label class="form-label"
														 for="cmsBlocksCategory">CMS block category</label>
												<select type="file"
														  name="cmsBlocksCategory"
														  id="cmsBlocksCategory"
														  v-model="cmsForm.stepFour.cmsBlocksCategory"
														  class="form-select">
													<option v-for="cmsBlocksCategoryList in formOptions.stepFour.cmsBlocksCategoryList"
															  :value="cmsBlocksCategoryList"
															  :key="cmsBlocksCategoryList">{{cmsBlocksCategoryList}}</option>
												</select>
											</div>

						</div>



					<!-- {#  CMS Blocks label #} -->
						<div class="mb-3 row">

							<div class="col-6">

								<label class="form-label"
										 for="cmsBlocksLabelDE">Blocks Label (DE)</label>
								<input type="text"
										 name="cmsBlocksLabelDE"
										 id="cmsBlocksLabelDE"
										 class="form-control"
										 v-model="cmsForm.stepFour.cmsBlocksLabelDE">
							</div>

							<div class="col-6">

								<label class="form-label"
										 for="cmsBlocksLabelEN">Blocks Label (EN)</label>
								<input type="text"
										 name="cmsBlocksLabelEN"
										 :disabled="cmsForm.stepOne.isEnglishVersionActive==false"
										 id="cmsBlocksLabelEN"
										 class="form-control"
										 v-model="cmsForm.stepFour.cmsBlocksLabelEN">
							</div>

						</div>



					</div>
				</div>

			</form>
			<!-- 'CHange' -->
			<div v-if="validationErrors.length > 3 "
				  class="alert alert-danger mx-0 my-2"
				  id="msgError">
				<div v-for="(message, key) in validationErrors"
					  :key="key">{{ message.msg }} | {{ message.version }}<br>
					<pre>	</pre>
				</div>
			</div>


			<div v-show="infoMsg.status==true"
				  class="alert alert-info"
				  id="infoMsg">{{infoMsg.msg}}
				  <hr>
						<ul class="list-group d-flex flex-row gap-5">
						<div>
								 <li class="list-inline" v-for="(value,key) in cmsForm.stepOne"> <strong>{{key}}	</strong>	 : {{value}}</li>
								  <li class="list-inline" v-for="(value,key) in cmsForm.stepTwo">	<strong>{{key}}</strong> : {{value}}</li>
						</div>
						 <div>
								 <li class="list-inline" v-for="(value,key) in cmsForm.stepFour">	<strong>{{key}}</strong> : {{value}}</li>
						</div>
						</ul>

				  </div>

			<div v-show="errorMsg.status==true"
				  class="alert alert-danger"
				  id="infoMsg">{{errorMsg.msg}}</div>

			<div class="row py-4 justify-content-between">
				<div class="col-auto">
					<button
								v-if="currentTab>1"
								type="button"
							  id="prev"
							  class="btn btn-secondary"

							  @click="goToPreviousTab()">Prevers</button>
				</div>
				<div class="col-auto ">
					<button v-if="currentTab<4"
							  @click="goToNextTab()"
							  type="button"
							  class="btn btn-info"
							  :disabled="this.errorMsg.status"
							  id="next">Next</button>

							<input v-show="currentTab==4"
									  type="submit"
									  form="cmsForm"
										value="Anlegen"
									  class="btn btn-info">


				</div>
			</div>
		</div>
	</div>

{% endverbatim %}
{% endblock %}

	{#	{% block javascripts %}#}
	{#		{ encore_entry_script_tags('create-cms-element-form') }#}
	{#	{% endblock %}#}